.friendList {
  padding: 0;
}
.item {
  display: flex;
  align-items: center;
  padding: 10px 60px 10px 20px;
  background-color: white;

  box-shadow: 5px 5px 5px gray;
}
.item:not(:last-child) {
  margin-bottom: 10px;
}
.status {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 20px;
  border-radius: 50%;
}
.online {
  background-color: green;
}
.offline {
  background-color: red;
}
.avatar {
  display: block;
  margin-right: 20px;
}
.name {
  font-weight: 700;
}
